/* layout */

.l-wrapper {
  max-inline-size: 375px;
  margin-inline: auto;
  background-color: var(--color-pinkscale-0);
}

.l-header {
  z-index: var(--front-z-index);
  position: sticky;
  top: 0;
  block-size: 50px;
  background-color: var(--background-base);
  overflow: hidden;
}

.l-button {
  --aspect-button: 52/50;

  z-index: var(--front-z-index);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: calc(50 * var(--percent-ratio-min));
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  inline-size: calc(52px / 2);
  aspect-ratio: var(--aspect-button);
  translate: 0 -50%;
}

.l-button::before,
.l-button::after {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--color-pinkscale-200);
  border-radius: var(--rounded-xs);
  transition:
    rotate 0.3s ease,
    translate 0.3s ease;
}

.l-button::before {
  position: absolute;
  top: 50%;
  inline-size: 100%;
  block-size: 2px;
}

.l-header--opened .l-button::before {
  rotate: 45deg;
  translate: 0 3px;
}

.l-header--opened .l-button::after {
  rotate: -45deg;
  translate: 0 -6px;
}

.l-button-line--menu {
  inline-size: 100%;
  transition: opacity 0.3s ease;
}

.l-header--opened .l-button-line--menu {
  opacity: 0;
}

.l-nav {
  z-index: var(--default-z-index);
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 50%;
  inline-size: 100%;
  max-inline-size: 375px;
  block-size: 100svh;
  background-color: var(--background-base);
  translate: -50%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.l-header--opened .l-nav {
  opacity: 1;
  visibility: visible;
}

.l-nav__list {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  inline-size: calc(650 * var(--percent-ratio-min));
  translate: -50% -50%;
}

.l-nav__list-item:not(:first-of-type) {
  margin-block-start: calc(50 * var(--percent-ratio-min));
}

.l-nav__link {
  display: block;
  padding-block-end: calc((30 / 650) * 100%);
  font-size: min(calc(32 * var(--fluid-ratio-min)), calc(16 * var(--rem-ratio)));
  color: var(--color-pinkscale-200);
  text-align: center;
  border-block-end: 1px solid var(--color-pinkscale-200);
}

.l-main {
  z-index: var(--default-z-index);
  position: relative;
  overflow: hidden;
}

.l-hero {
  position: relative;
}

.l-hero__title {
  z-index: var(--front-z-index);
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;
  inline-size: calc(533 * var(--percent-ratio-min));
  margin-block-start: calc(43 * var(--percent-ratio-min));
  translate: -50% 0;
}

.l-hero__image {
  z-index: var(--default-z-index);
  position: relative;
}

.l-hero__pop {
  z-index: var(--front-z-index);
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: calc(10 * var(--percent-ratio-min));
  inline-size: calc(376 * var(--percent-ratio-min));
  margin-block-end: calc(11 * var(--percent-ratio-min));
}

.l-hero__pop-image {
  z-index: var(--front-z-index);
  position: relative;
}

.l-hero__pop-hand {
  z-index: var(--front-z-index);
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: calc((-10 / 376) * 100%);
  inline-size: calc((148 / 376) * 100%);
  margin-block-end: calc((-20 / 376) * 100%);
}

.l-cta {
  padding-block: calc(53 * var(--percent-ratio-min)) calc(60 * var(--percent-ratio-min));
}

.l-cta__link {
  display: block;
  inline-size: calc(647 * var(--percent-ratio-min));
  margin-inline: auto;
}

.l-cta__heading {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc((284 / 647) * 100%);
  margin-inline: auto;
}

.l-cta__button {
  --aspect-button: 647/124;
  --shadow-button-inner-bottom: -2px -2.5px 2px rgb(205 189 15 / 100%);
  --shadow-button-inner-top: 1.5px 4px 2px rgb(255 246 151 / 100%);
  --shadow-button-outer: 2px 2px 2px rgb(0 0 0 / 25%);
  --rounded-button: 77px;

  z-index: var(--default-z-index);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: var(--aspect-button);
  margin-block-start: calc((-35 / 647) * 100%);
  background-color: var(--color-yellowscale-100);
  box-shadow:
    inset var(--shadow-button-inner-bottom),
    inset var(--shadow-button-inner-top),
    var(--shadow-button-outer);
  border-radius: var(--rounded-button);
}

.l-cta__button-text {
  font-size: min(calc(42 * var(--fluid-ratio-min)), calc(21 * var(--rem-ratio)));
  color: var(--color-brownscale-0);
  letter-spacing: var(--tracking-relaxed);
}

.l-cta__button-text-small {
  font-size: min(calc(32 * var(--fluid-ratio-min)), calc(16 * var(--rem-ratio)));
}

.l-section__heading {
  inline-size: calc(355 * var(--percent-ratio-min));
  margin-inline: auto;
}

.l-sticky-cta {
  --aspect-sticky: 750/168;

  z-index: var(--menu-z-index);
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(30 * var(--percent-ratio-min));
  inline-size: 100%;
  max-inline-size: 375px;
  aspect-ratio: var(--aspect-sticky);
  background-color: var(--color-pinkscale-400);
  translate: -50% 100%;
  transition: translate 0.5s ease;
}

.l-sticky-cta--fixed {
  translate: -50% 0;
}

.l-sticky-cta__box--tel {
  --aspect-tel: 267/108;

  inline-size: calc(267 * var(--percent-ratio-min));
  aspect-ratio: var(--aspect-tel);
  background-color: var(--background-base);
}

.l-sticky-cta__box {
  --rounded-sticky: 15px;

  border-radius: var(--rounded-sticky);
}

.l-sticky-cta__box--network {
  --aspect-network: 407/108;

  inline-size: calc(407 * var(--percent-ratio-min));
  aspect-ratio: var(--aspect-network);
  background-color: var(--color-yellowscale-100);
}

.l-sticky-cta__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(calc(6 * var(--fluid-ratio-min)), 3px);
  block-size: 100%;
}

.l-sticky-cta__tel {
  inline-size: calc((38 / 267) * 100%);
}

.l-sticky-cta__calendar {
  inline-size: calc((39 / 407) * 100%);
}

.l-sticky-cta__text {
  font-size: min(calc(36 * var(--fluid-ratio-min)), calc(18 * var(--rem-ratio)));
}

.l-sticky-cta__text--tel {
  color: var(--color-pinkscale-400);
}

.l-sticky-cta__text--network {
  color: var(--color-brownscale-100);
}

.l-gift {
  z-index: var(--default-z-index);
  position: relative;
  padding-block-end: calc(33 * var(--percent-ratio-min));
  background-color: var(--color-pinkscale-100);
}

.l-gift__image {
  inline-size: calc(747 * var(--percent-ratio-min));
  margin-inline: auto;
}

.l-gift__attention {
  margin-block-start: calc(16 * var(--percent-ratio-min));
  padding-inline: calc(24 * var(--percent-ratio-min));
  font-size: min(calc(20 * var(--fluid-ratio-min)), calc(10 * var(--rem-ratio)));
  color: var(--color-brownscale-0);
}

.l-worries {
  z-index: var(--front-z-index);
  position: relative;
  padding-block-start: calc(92 * var(--percent-ratio-min));
}

.l-worries__heading {
  font-size: min(calc(42 * var(--fluid-ratio-min)), calc(21 * var(--rem-ratio)));
  text-align: center;
  color: var(--color-pinkscale-300);
}

.l-worries__pop-box {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: calc(51 * var(--percent-ratio-min));
}

.l-worries__pop {
  opacity: 0;
  scale: 0.7;
}

.l-worries__pop-box.is-inview .l-worries__pop {
  opacity: 1;
  scale: 1;
  transition:
    opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    scale 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.l-worries__pop--top {
  inline-size: calc(389 * var(--percent-ratio-min));
  margin-inline: auto;
}

.l-worries__pop-box.is-inview .l-worries__pop--top {
  transition-delay: 0.2s;
}

.l-worries__pop--left {
  inline-size: calc(239 * var(--percent-ratio-min));
  margin-inline-start: calc(66 * var(--percent-ratio-min));
}

.l-worries__pop-box.is-inview .l-worries__pop--left {
  transition-delay: 0.4s;
}

.l-worries__pop--right {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: calc(458 * var(--percent-ratio-min));
  inline-size: calc(229 * var(--percent-ratio-min));
}

.l-worries__pop-box.is-inview .l-worries__pop--right {
  transition-delay: 0.6s;
}

.l-worries__illust {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc(319 * var(--percent-ratio-min));
  margin-block-start: calc(-50 * var(--percent-ratio-min));
  margin-inline: auto;
}

.l-message {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: calc(-10 * var(--percent-ratio-min));
}

.l-message__headline-inner {
  background-color: var(--color-pinkscale-200);
  padding-block: calc(57 * var(--percent-ratio-min)) calc(33 * var(--percent-ratio-min));
}

.l-message__headline-sub {
  inline-size: calc(229 * var(--percent-ratio-min));
  margin-inline: auto;
}

.l-message__headline-main {
  inline-size: calc(492 * var(--percent-ratio-min));
  margin-block-start: calc(12 * var(--percent-ratio-min));
  margin-inline: auto;
}

.l-message__headline::after {
  --aspect-arrow: 750/73;

  content: '';
  display: block;
  inline-size: 100%;
  aspect-ratio: var(--aspect-arrow);
  margin-block-start: calc(-1 * var(--percent-ratio-min));
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
  background-color: var(--color-pinkscale-200);
}

.l-point {
  z-index: var(--default-z-index);
  position: relative;
  padding-block: calc(93 * var(--percent-ratio-min)) calc(163 * var(--percent-ratio-min));
}

.l-point__list {
  inline-size: calc(650 * var(--percent-ratio-min));
  margin-block-start: calc(66 * var(--percent-ratio-min));
  margin-inline: auto;
}

.l-point__list-item {
  --shadow-top: -1.5px -2px 2px rgb(227 191 204 / 25%);
  --shadow-bottom: 4px 4px 8.5px rgb(227 191 204 / 100%);
  --rounded-point: 16px;

  display: block;
  padding: calc((48 / 650) * 100%) calc((30 / 650) * 100%);
  background-color: var(--background-base);
  border-radius: var(--rounded-point);
  box-shadow: var(--shadow-top), var(--shadow-bottom);
}

.l-point__list-item:not(:first-of-type) {
  margin-block-start: calc((40 / 650) * 100%);
}

.l-point__list-headline {
  display: flex;
  align-items: center;
  gap: calc((20 / 650) * 100%);
}

.l-point__index {
  position: relative;
  inline-size: calc((69 / 590) * 100%);
  margin-inline-start: calc((15 / 590) * 100%);
}

.l-point__index-number {
  --leading-index: 1.6;

  z-index: var(--front-z-index);
  position: absolute;
  inset: 0;
  margin: auto;
  font-size: min(calc(42 * var(--fluid-ratio-min)), calc(21 * var(--rem-ratio)));
  text-align: center;
  color: var(--color-pinkscale-300);
  line-height: var(--leading-index);
}

.l-point__index-flower {
  z-index: var(--default-z-index);
  position: relative;
}

.l-point__list-headline-text {
  font-size: min(calc(42 * var(--fluid-ratio-min)), calc(21 * var(--rem-ratio)));
  color: var(--color-pinkscale-300);
}

.l-point__capture {
  position: relative;
  margin-block-start: calc((27 / 590) * 100%);
}

.l-point__capture-image {
  z-index: var(--default-z-index);
  position: relative;
}

.l-point__capture-google {
  z-index: var(--front-z-index);
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: calc((-30 / 590) * 100%);
  inline-size: calc((223 / 590) * 100%);
  margin-block-end: calc((-27 / 590) * 100%);
}

.l-point__capture-pop {
  z-index: var(--front-z-index);
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: calc((-30 / 590) * 100%);
  inline-size: calc((180 / 590) * 100%);
  margin-block-start: calc((-27 / 590) * 100%);
}

.l-point__caption {
  margin-block-start: calc((27 / 590) * 100%);
  font-weight: var(--font-normal);
  font-size: min(calc(30 * var(--fluid-ratio-min)), calc(15 * var(--rem-ratio)));
  color: var(--color-brownscale-0);
  line-height: var(--leading-snug);
}

.l-point__caption-highlight {
  font-weight: var(--font-bold);
  color: var(--color-pinkscale-300);
}

.l-staff {
  z-index: var(--default-z-index);
  position: relative;
  padding-block: calc(106 * var(--percent-ratio-min)) calc(100 * var(--percent-ratio-min));
  background-color: var(--background-base);
}

.l-staff__headline {
  text-align: center;
}

.l-staff__headline-main {
  display: block;
  font-size: min(calc(52 * var(--fluid-ratio-min)), calc(26 * var(--rem-ratio)));
  color: var(--color-pinkscale-300);
}

.l-staff__headline-sub {
  display: block;
  margin-block-start: calc(25 * var(--percent-ratio-min));
  font-size: min(calc(30 * var(--fluid-ratio-min)), calc(15 * var(--rem-ratio)));
  color: var(--color-brownscale-0);
}

.l-staff__list {
  margin-block-start: calc(66 * var(--percent-ratio-min));
}

.l-staff__list-item:not(:first-of-type) {
  margin-block-start: calc(85 * var(--percent-ratio-min));
}

.l-staff__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(47 * var(--percent-ratio-min));
}

.l-staff__profile-image {
  inline-size: calc(240 * var(--percent-ratio-min));
}

.l-staff__profile-theme-index {
  display: block;
  inline-size: fit-content;
  padding: min(calc(12 * var(--fluid-ratio-min)), 6px) min(calc(18 * var(--fluid-ratio-min)), 9px);
  background-color: var(--color-pinkscale-300);
  border-radius: var(--rounded-s);
}

.l-staff__profile-theme-index-text {
  display: block;
  inline-size: min(calc(111 * var(--fluid-ratio-min)), calc(111px / 2));
}

.l-staff__profile-theme-text {
  margin-block-start: min(calc(30 * var(--fluid-ratio-min)), 15px);
  font-size: min(calc(30 * var(--fluid-ratio-min)), calc(15 * var(--rem-ratio)));
  color: var(--color-pinkscale-300);
}

.l-staff__text {
  margin-block-start: calc(55 * var(--percent-ratio-min));
  padding-inline: calc(98 * var(--percent-ratio-min));
  font-size: min(calc(30 * var(--fluid-ratio-min)), calc(15 * var(--rem-ratio)));
  color: var(--color-grayscale-200);
  line-height: var(--leading-snug);
}

.l-step {
  z-index: var(--default-z-index);
  position: relative;
  padding-block: calc(100 * var(--percent-ratio-min));
}

.l-step__list {
  margin-block-start: calc(117 * var(--percent-ratio-min));
}

.l-step__list-item {
  inline-size: calc(570 * var(--percent-ratio-min));
  margin-inline: auto;
}

.l-step__list-item--second {
  margin-block-start: calc(68 * var(--percent-ratio-min));
}

.l-step__list-item--third {
  margin-block-start: calc(130 * var(--percent-ratio-min));
}

.l-step__list-item:not(:last-of-type)::after {
  --aspect-step-arrow: 196/49;

  content: '';
  display: block;
  inline-size: calc((196 / 570) * 100%);
  aspect-ratio: var(--aspect-step-arrow);
  margin-block-start: calc((68 / 570) * 100%);
  margin-inline: auto;
  background-color: var(--color-pinkscale-200);
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
}

.l-step__theme-box {
  position: relative;
}

.l-step__illust {
  position: absolute;
  inset-inline-end: 0;
}

.l-step__illust--first {
  inset-block-end: 0;
  inline-size: calc((290 / 570) * 100%);
}

.l-step__illust--second {
  inset-block-start: 0;
  inline-size: calc((273 / 570) * 100%);
}

.l-step__illust--third {
  inset-block-start: 0;
  inset-inline-end: calc((-12 / 570) * 100%);
  inline-size: calc((309 / 570) * 100%);
  margin-block-start: calc((-36 / 570) * 100%);
}

.l-step__theme-index {
  inline-size: min(calc(186 * var(--fluid-ratio-min)), calc(186px / 2));
}

.l-step__theme-text {
  margin-block-start: min(calc(12 * var(--fluid-ratio-min)), 6px);
  font-size: min(calc(62 * var(--fluid-ratio-min)), calc(31 * var(--rem-ratio)));
  color: var(--color-pinkscale-300);
}

.l-step__text {
  margin-block-start: calc((44 / 570) * 100%);
  font-size: min(calc(30 * var(--fluid-ratio-min)), calc(15 * var(--rem-ratio)));
  color: var(--color-grayscale-200);
  line-height: var(--leading-snug);
}

.l-qa {
  z-index: var(--default-z-index);
  position: relative;
  padding-block: calc(100 * var(--percent-ratio-min));
  background-color: var(--background-base);
}

.l-qa__list {
  inline-size: calc(614 * var(--percent-ratio-min));
  margin-block-start: calc(101 * var(--percent-ratio-min));
  margin-inline: auto;
}

.l-qa__item:not(:first-of-type) {
  margin-block-start: calc((35 / 614) * 100%);
}

.l-qa__content {
  position: relative;
  display: flex;
  gap: calc((23 / 614) * 100%);
}

.l-qa__content--answer {
  padding-block-start: calc((28 / 614) * 100%);
}

.l-qa__icon {
  margin-block-start: calc((3 / 614) * 100%);
}

.l-qa__icon--q {
  inline-size: calc((43 / 614) * 100%);
}

.l-qa__icon--a {
  inline-size: calc((39 / 614) * 100%);
}

.l-qa__text {
  flex: 1;
  color: var(--color-brownscale-0);
  line-height: var(--leading-snug);
}

.l-qa__text--question {
  padding-inline-end: calc((65 / 614) * 100%);
  font-weight: var(--font-semibold);
  font-size: min(calc(30 * var(--fluid-ratio-min)), calc(15 * var(--rem-ratio)));
}

.l-qa__text--answer {
  font-size: min(calc(26 * var(--fluid-ratio-min)), calc(13 * var(--rem-ratio)));
}

.l-qa__plus {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: calc((38 / 614) * 100%);
  transition: rotate 0.3s ease;
}

.l-qa__item[open] .l-qa__plus {
  rotate: -135deg;
}

.l-access {
  z-index: var(--default-z-index);
  position: relative;
  padding-block: calc(100 * var(--percent-ratio-min)) calc(130 * var(--percent-ratio-min));
}

.l-access__map {
  --aspect-map: 650/446;

  position: relative;
  inline-size: calc(650 * var(--percent-ratio-min));
  aspect-ratio: var(--aspect-map);
  margin-block-start: calc(77 * var(--percent-ratio-min));
  margin-inline: auto;
}

.l-access__map-content {
  inline-size: 100%;
  block-size: 100%;
}

.l-access__address {
  margin-block-start: calc(54 * var(--percent-ratio-min));
  padding-inline: calc(50 * var(--percent-ratio-min));
  font-size: min(calc(24 * var(--fluid-ratio-min)), calc(12 * var(--rem-ratio)));
  color: var(--color-brownscale-0);
  line-height: var(--leading-snug);
}

.l-access__howto {
  margin-block-start: calc(45 * var(--percent-ratio-min));
  padding-inline: calc(50 * var(--percent-ratio-min));
}

.l-access__howto-item {
  display: flex;
  align-items: center;
  gap: calc((30 / 650) * 100%);
}

.l-access__howto-item:not(:first-of-type) {
  margin-block-start: calc((15 / 650) * 100%);
}

.l-access__howto-icon {
  inline-size: calc((36 / 650) * 100%);
}

.l-access__howto-text {
  font-family: var(--font-sans);
  font-size: min(calc(24 * var(--fluid-ratio-min)), calc(12 * var(--rem-ratio)));
  color: var(--color-brownscale-0);
}

.l-privacy {
  z-index: var(--default-z-index);
  position: relative;
  padding: calc(82 * var(--percent-ratio-min)) calc(72 * var(--percent-ratio-min));
  background-color: var(--background-base);
}

.l-privacy__heading {
  --aspect-privacy: 600/41;

  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: var(--aspect-privacy);
  background-color: var(--color-pinkscale-200);
  border-radius: var(--rounded-s);
}

.l-privacy__heading-text {
  inline-size: calc((563 / 600) * 100%);
}

.l-privacy__text {
  margin-block-start: calc((30 / 600) * 100%);
  font-size: min(calc(24 * var(--fluid-ratio-min)), calc(12 * var(--rem-ratio)));
  color: var(--color-grayscale-100);
}

.l-privacy__link {
  display: flex;
  align-items: center;
  gap: calc((8 / 600) * 100%);
  margin-block-start: calc((30 / 600) * 100%);
}

.l-privacy__link-text {
  border-block-end: 1px solid currentcolor;
  font-size: min(calc(24 * var(--fluid-ratio-min)), calc(12 * var(--rem-ratio)));
  color: var(--color-grayscale-100);
}

.l-privacy__link-icon {
  inline-size: calc((36 / 600) * 100%);
}

.l-copyright {
  --aspect-copyright: 750/82;

  z-index: var(--default-z-index);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: var(--aspect-copyright);
  background-color: var(--color-pinkscale-200);
  font-family: var(--font-sans);
  font-size: min(calc(22 * var(--fluid-ratio-min)), calc(11 * var(--rem-ratio)));
  color: var(--background-base);
  letter-spacing: var(--tracking-tight);
}
